{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container " >
    <h1>Register</h1>


    {{ form_start(registrationForm) }}
    <div class="form-group ">
        {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-group ">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </div>
        <div class="form-check">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-primary mt-1 mb-1">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
