{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-1 mb-1">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-primary mt-1 mb-1" href="{{ path('auteur_index') }}">Retour</a>
{{ form_end(form) }}
